.footer{
    position:absolute;
    background-color: gainsboro;
    width:100%;
    height: 60px;
    padding-top: 10px;
} 

.btn{
    height: 40px;
    width: 125px;
} 
.coin-name{
    display: block;
    float:inherit;
    overflow: hidden;
    word-wrap: break-word;
    
} 